* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #576597, #2d278e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

main {
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.logoContainer img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.greetings h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.about p {
    font-size: 1em;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-button {
    background-color: #ffffff;
    color: #333;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.1em;
    transition: all 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

